<h1>Add User</h1>
<form #f="ngForm">
  <div class="form-group">
    <label>firstName</label>
    <input type="text" name="firstName" class="form-control"
    [(ngModel)]="user.firstName" required minlength="3" #ft="ngModel">
    <div *ngIf="ft.invalid && ft.touched">
      <p *ngIf="ft.hasError('required')">this field is required</p>
      <p *ngIf="ft.hasError('minlength')">Minlength = 3! </p>
    </div>
  </div>
  <div class="form-group">
    <label>lastName</label>
    <input type="text" name="lastName" class="form-control"
    [(ngModel)]="user.lastName">
  </div>
  <button class="btn btn-success" (click)="save()" [disabled]="f.invalid">
    save
  </button>
</form>
